<div class="noobar navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "noobar-logo" do %>
    <%= image_tag "logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="noobar-right hidden-xs hidden-sm">
    <!-- Links when logged in -->
    <% Category.all.each do |c| %>
      <%= link_to c.name, "##{c.name}", class: "noobar-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="noobar-right hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
