<div class="noobar navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "noobar-logo" do %>
    <%= image_tag "logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="noobar-right hidden-xs hidden-sm">
    <!-- Links when logged in -->
    <% Category.order(position: :asc).each do |c| %>
      <%= link_to c.name, "##{c.name}", class: "noobar-link", data: { scroll: "" } %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="noobar-right hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% Category.order(position: :asc).each do |c| %>
          <li>
            <%= link_to c.name, "##{c.name}", data: { scroll: "" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
