.footer {
  margin-top: 30px;
  background-color: $darker-primary;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  i {
    margin-right: 30px;
    font-size: 22px;
  }
  a {
    color: white;
    opacity: .5;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}
