<div class="container padded-top">
  <div class="text-center main-header">
    <h1>The web designer <strong>tool kit</strong> you need</h1>
    <p>This is a collection of awesome resources that I found useful when I first started web design, and that I keep using!</p>
    <a href="https://github.com/arthur-littm/noobesign#readme" class="btn btn-primary" target="_blank"><i class="fab fa-github"></i> repository</a>
    <a href="mailto:arthur.littmann@gmail.com?Subject=Hi%20noob,%20here's%20a%20new%20awesome%20resource%20for%20noobesign.xyz!" class="btn btn-primary"><i class="far fa-lightbulb"></i> suggest resource</a>
  </div>
  <% @categories.each do |category| %>
    <%= render "category_section", category: category %>
  <% end %>
</div>

